# Dependencies
Backend/node_modules/
Frontend/node_modules/

# Environment files
Backend/.env
Frontend/.env

# Logs
*.log
npm-debug.log*

# Build folders
Frontend/dist/
Frontend/build/

# OS files
.DS_Store
Thumbs.db

# VS Code (optional)
.vscode/

# Coverage
coverage/

# Temporary files
*.tmp